<div class="nav-bar">
  <div class="nav-bar-content">
    <div class="nav-bar-left">
      <a [routerLink]="['/home']"><img class="home-logo" src="../../../assets/Logo.png" height="20%" width="20%"></a>


    </div>
    <div class="nav-bar-right">

      <a [routerLink]="['/login']"> <div *ngIf="!loggedIn()" class="nav-bar-items">Login</div></a>

      <div *ngIf="loggedIn() && userHasProfile" class="nav-bar-items">Hello, {{getUsername()}}</div>
      <div *ngIf="loggedIn()" (click)="onLogoutClick()" class="nav-bar-items"><mat-icon>exit_to_app</mat-icon></div>

    </div>

  </div>

</div>

<router-outlet></router-outlet>

<app-user-profile [show]="loggedIn() && !userHasProfile"></app-user-profile>

