
<div class="home-page">
  <div class="home-page-land">
    <div class="land-left">
      <img class="home-logo" src="../../../assets/pngaaa.com-745750.png" height="40%" width="40%">
      <div class="text">
      <h1>Welcome to SocialMediaApp!</h1>
      <p>
        Keep in touch with your friends!
      </p>
     </div>

    </div>
    <div class="land-right">

      <a [routerLink]="['/login']"><button type="button" class="btn btn-success">Login Here</button></a>
      <a [routerLink]="['/register']"><button type="button" class="btn btn-success">You don't have an account?</button></a>


    </div>

  </div>
</div>
